.dropdown_container {
  position: relative;
  display: inline-block;
}

.dropdown_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px;
  padding: 4px 16px;
  height: 36px;
  background-color: #E4E6EB;
  border-radius: 7px;
  box-sizing: border-box;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
}

.dropdown_button_text {
  all: unset;
  position: relative;
  display: inline-block;
  padding: 5px 12px;
  font-size: .9375rem;
  font-weight: 600;
  text-align: center;
}

.dropdown_button:has( input ) {
  padding-left: 0;
}

.dropdown_button > input {
  padding-left: 0;
}

.dropdown_button:hover {
  background: #cfd1d5;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  background-color: #fff;
  box-shadow: var(--main-box-shadow);
  border-radius: 8px;
  z-index: 999;
}

.dropdown_menu ul {
  padding: 8px 0;
  list-style: none;
}

.dropdown_menu ul .item_container {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0 8px;
  padding: 12px 8px;
  font-size: .9375rem;
  font-weight: 525;
  cursor: pointer;
  white-space: nowrap;
  flex: 1;
  border-radius: 5px;
}

.dropdown_menu ul .item_container:hover {
  background: #e4e6eb;
}

.dropdown_menu ul li .item_container.with_icons {
  padding: 8px !important;
}

.dropdown_menu ul li .dropdown_menu_icon {
  margin-right: 12px;
  display: block;
}

.dropdown_menu ul li a {
  all: unset;
}