/* Creates a transparent scrollbar until you hover over the element */

* {
  margin: 0;
}

html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div * {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

div *::-webkit-scrollbar-track {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background-color: transparent;
}
div *::-webkit-scrollbar {
  width: 3px !important;
  background-color: transparent;
}
div *::-webkit-scrollbar-thumb {
  background-color: transparent;
}

div *:hover {
  scrollbar-width: thick; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

div *:hover::-webkit-scrollbar-track {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background-color: transparent !important;
  border-radius: 10px;
}

div *:hover::-webkit-scrollbar {
  width: 8px !important;
  background-color: transparent;
  border-radius: 10px;
}

div *:hover::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius: 10px;
}

/* */

.app {
  min-height: 100vh;
  background-color: #f1f2f5;
}

.body {
  display: flex;
}