@media (max-width: 775px){
  .profile_about {
    flex-direction: column;
  }

  .profile_about_sidebar {
    width: 100% !important;
    border-right: 0 !important;
    border-bottom: 1px solid #ccc;
  }
}

.profile_about {
  display: flex;
  justify-content: center;
  flex: 1;
}

.profile_about_sidebar {
  width: 274px;
  padding: 8px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

.profile_about_sidebar ul {
  padding: 0;
  list-style: none;
}

.profile_about_sidebar li {
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}
.profile_about_sidebar li a {
  all: unset;
  display: block;
  padding: 5px 10px;
}

.profile_about_sidebar li.active,
.profile_about_sidebar li.active:hover {
  background-color: #E7F3FF;
}

.profile_about_sidebar li:hover {
  background-color: #f1f2f5;
}

.profile_about_body {
  flex: 1;
  padding: 16px 32px 32px 16px;
}

.profile_about_body > ul {
  list-style: none;
  padding: 0;
}

.profile_about_body > ul h3 {
  margin-top: 4px;
  margin-bottom: 20px;
  font-size: 1.0625rem;
  font-weight: 600;
}

.profile_about_body > ul li {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.profile_about_body > ul li.detail_add {
  cursor: pointer;
}

.profile_about_body > ul li:last-child {
  margin-bottom: 0;
}

.profile_about_body > ul li.detail_add:hover > span {
  text-decoration: underline;
}

.profile_about_body > ul li img {
  margin: 0 7px;
  height: 24px;
  width: 24px;
  object-fit: none;
  object-position: bottom;
}

.profile_about_body > ul li.detail_add  svg {
  margin: 6px;
  border: solid 1px hsl(214deg 89% 52%);
  border-radius: 100%;
  color: rgb(122, 160, 187);
  font-size: 22px;
}

.profile_about_body > ul li span {
  padding: 6px;
}

.profile_about_body > ul li > span {
  font-size: .9375rem;
  font-weight: 500;
}

.profile_about_body > ul li.detail_add span {
  color: hsl(214deg 89% 52%);
}