.text_box {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 0.5px;
  border-radius: 6px;
}

.cursor_pointer {
  cursor: pointer;
}

.text_box.outline {
  outline: solid 2px #0571ed;
  outline-offset: 2px;
}

.text_box_input {
  all: unset;
  width: 100%;
  padding-top: 26px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 6px;
  border: solid 1px #ced0d4;
  box-sizing: border-box;
  font-size: 1rem;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }

  40% {
    transform: translateX(5px);
  }

  60% {
    transform: translateX(-5px);
  }

  80% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

.text_box.clicked {
  animation: shake 0.35s;
  animation-iteration-count: 1;
}

.text_box_input:hover {
  border-color: #555;
}

.text_box_input.text_area {
  vertical-align: top;
  resize: none;
}

.text_box .disabled {
  background-color: #f0f2f5;
  cursor: not-allowed;
}

.text_box .text_box_input.disabled:hover {
  border: solid 1px #ced0d4;
}

.text_box label.disabled {
  color: #b5baca;
}

.text_box_placeholder {
  position: absolute;
  top: 20px;
  left: 16px;
  color: #65676b;
  pointer-events: none;
  font-size: 1rem;
}

.text_box_placeholder.focused {
  top: 10px;
  color: #0571ed;
  font-size: 0.75rem;
}

.text_box_placeholder.text_entered {
  top: 10px;
  font-size: 0.75rem;
}
.text_box .background_icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
