@media (max-width: 900px){
  .profile_body {
    flex-direction: column !important;
    max-width: 650px !important;
  }
  .left_col_sidebar {
    position: static !important;
    overflow-y: hidden;
    width: 100%;
  }
}

.profile_body {
  display: flex;
  align-items: stretch;
}

.profile_body_right_col {
  display: flex;
  margin-left: 7.5px;
  padding-bottom: 16px;
  flex: 1.5;
}

.profile_body_left_col {
  display: flex;
  flex: 1;
  margin-right: 7.5px;
}

.left_col_sidebar {
  width: 100%;
  position: sticky;
  top: 115px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.left_col_sidebar::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.left_col_sidebar_container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.sidebar_container_button {
  margin-bottom: 16px;
  padding: 10px;
  width: 100%;
  background-color: #E4E6EB;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 8px;
}

.sidebar_container_header {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.sidebar_container_header span {
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -8px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  color: #216fdb;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 8px;
}

.sidebar_container_header span:hover {
  background-color: #E4E6EB;
}

.sidebar_container_button:hover {
  background-color: #d4d6de;
}

.left_col_sidebar_footer {
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

.no_padding {
  padding: 0;
}