@media (max-width: 900px) {
  .header__profilePhoto {
    left: 50% !important;
    transform: translateX(-50%);
  }
}

.header__profilePhoto {
  position: absolute;
  left: 0;
  top: -90px;
  z-index: 100;
}

.profilePhoto__image {
  height: 168px !important;
  width: 168px !important;
  border: solid 4px white;
}

.profilePhoto__updateBadge {
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.profilePhoto__wrapper.dropdown_active {
  cursor: pointer;
}

.profilePhoto__wrapper.dropdown_active:hover .profilePhoto__image,
.profilePhoto__updateBadge:hover {
  filter: brightness(90%);
}

.profilePhoto__menu .text_container {
  display: flex;
  align-items: center;
  padding: 8px !important;
  border-radius: 5px;
}

.profilePhoto__menu .text_container:hover {
  background: #e4e6eb;
}

.modalBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  overflow-y: scroll;
  cursor: pointer;
}
