.videoFeed {
  margin-top: 15px;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.videoFeed button {
  display: flex;
  align-items: center;
  margin: 16px;
  padding: 6px 12px;
  background-color: #fff;
  border: solid 2px #e7f3ff;
  border-radius: 18px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 551;
  color: #216fdb;
  cursor: pointer;
}

.videoFeed button:hover {
  background-color: #eff2f5;
}

.videoFeed button span {
  margin-left: 5px;
}

.videoFeed button svg {
  fill: #c249b6;
}

