.post__header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 12px 16px ;
}
.post__avatar {
  margin-right: 10px;
}

.headerInfo__name {
  display: flex;
  color: #65676b;
  font-size: 17px;
  font-weight: 500 !important;
}

.headerInfo__name > a {
  text-decoration: none;
  color: #000;
}
.headerInfo__name > a:hover {
  text-decoration: underline;
}

.headerInfo__action {
  color: #777;
  font-weight: normal;
}

.post__headerInfo > .headerInfo__timestamp {
  font-size: small;
  color: gray;
}