.profilePhoto__viewPicture {
  position: fixed;
  top: 54px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 500;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.viewPicture__referred {
  top: 0;
}

.profilePhoto__viewPicture::-webkit-scrollbar {
  display: none;
}

.viewPicture__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  height: 100%;
  background: #000;
}

.viewPicture__leftHeader {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 16px;
  color: #fff;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;   
}

.viewPicture__leftHeader svg {
  font-size: 28px;
  cursor: pointer;
}

.viewPicture__leftBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.viewPicture__leftBody img {
  max-width: 100%;
}

.viewPicture__right{
  width: 360px;
  height: 100%;
  background: #fff;
}

.viewPicture__rightHeader {
  height: 60px;
  border-bottom: solid 1px #ced0d4;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;  
}