.profilePhoto__viewPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
}

.viewPicture__referred {
  top: 0;
}

.viewPicture__left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  height: 100%;
  background: #000;
}

.viewPicture__leftHeader {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 16px;
  color: #fff;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;   
}

.viewPicture__clone-icon {
  position: absolute;
  top: 0;
  left: 16px;
  font-size: 28px;
  color: #fff;
  cursor: pointer;
}

.viewPicture__leftBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow: hidden;
}

.viewPicture__leftBody img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.viewPicture__right{
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 100%;
  background: #fff;
}

.viewPicture__rightHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 54px;
  border-bottom: solid 1px #ced0d4;
  box-sizing: border-box;  
}