.widget {
  position: sticky;
  align-self: flex-start;
  top: 56px;
  padding: 8px 10px;
  max-width: 340px;
  flex: 1;
  flex-shrink: 1;
}

.widget h3 {
  padding: 14px 16px 4px 6px;
  font-size: 17px;
  font-weight: 600;
  color: #65676b;
}

.widget__ads {
  padding: 8px 0;
  margin-bottom: 10px;
  border-bottom: solid 1px #ced0d4;
}

.widget__ads div {
  margin: 8px 0;
  padding: 8px;
  background-color: #fff;
  border: solid 1px #ced0d4;
  color: #65676b;
  text-align: center;
}