.updatePhoto__image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 400px;
  overflow: hidden;
  user-select: none;
}

.image__thumbnailOverlay, .image__dragDropContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 400px;
  overflow: hidden;
}

.image__croppedOutline {
  width: 300px;
  height: 300px;
  z-index: 899;
}

.image__croppedOutline.cropped {
  box-shadow: 0 0 0 500px #fff;
}

.image__thumbnailOutline {
  width: 300px;
  height: 300px;
  opacity: .5;
  box-shadow: 0 0 0 500px #fff;
  border-radius: 50%;
}

.imageContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image__dragDropContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
}

.dragDrop__object {
  position: absolute;
  height: 300px;
  width: 300px;
  cursor: move;
}

.dragDrop__object.croppedObj {
  position: static;
}

.croppedCanvas {
  display: none;
}