.updatePhoto__zoomSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 100%;
}

.updatePhoto__zoomSlider .MuiSlider-rail {
  height: 4px;
  color: #ced0d4;
  border-radius: 2px;
}

.updatePhoto__zoomSlider .MuiSlider-track {
  height: 4px;
  color: #1876f2;
}

.updatePhoto__zoomSlider .MuiSlider-thumb {
  top: 10px;
  height: 20px;
  width: 20px;
  border: solid 1px #ced0d4;
  color: #fff;
}

.updatePhoto__zoomSlider .MuiSlider-thumb:hover, .updatePhoto__zoomSlider .MuiSlider-thumb:focus {
  box-shadow: none !important;
}

.updatePhoto__zoomSlider > span {
  width: 400px;
  margin: 0 5px;
}

.updatePhoto__zoomSlider > svg {
  padding: 5px;
  cursor: pointer
}

.updatePhoto__zoomSlider > svg.disabled {
  color: #bec3c9;
  cursor: not-allowed;
}

.updatePhoto__zoomSlider > svg.enabled:hover {
  border-radius: 50%;
  background: #dbe6f1;
}