.profilePhoto__modal__background {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 500;
  overflow-y: scroll;
}

.profilePhoto__modal__container {
  width: 700px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px;
}

/* Header > Containers h3 & close modal button */

.profilePhoto__modal__header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 16px;
  border-bottom: solid 1px #e5e5e5;
}

.profilePhoto__modal__header h3 {
  flex: 1;
  font-size: 20px;
  text-align: center;
}

.profilePhoto__modal__closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.profilePhoto__modal__closeButton > svg {
  color: #606770;
}

/* Body > contains description, uploaded image, and tools to edit the image */

.updatePhoto__modal__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-bottom: solid 1px #e5e5e5;
}

.updatePhoto__description {
  position: relative;
  width: 100%;
}

.updatePhoto__description label {
  color: #65676b;
  transition: all .15s ease-in-out;
}

.updatePhoto__description label.noText {
  position: absolute;
  top: 15px;
  left: 15px;
}

.updatePhoto__description:focus-within > label {
  color: #247ef3;
}

.updatePhoto__description:focus-within > label, label.containsText {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 13px;
}

.updatePhoto__description textarea {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent !important;
  border: none;
  outline: none !important;
}

.updatePhoto__description .growWrap__container {
  border: solid 1px #bec3c9;
  border-radius: 10px;

}

.updatePhoto__description .growWrap__container p {
  opacity: 0;
}

.updatePhoto__description textarea, .updatePhoto__description .growWrap__container {
  margin-bottom: 16px;
  padding: 30px 15px 10px 15px;
  width: 100%;
  resize: none; 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;   
  font-size: 16px; 
  word-wrap: break-word;
}

.updatePhoto__description:focus-within > .growWrap > .growWrap__container {
  border: solid 1px #247ef3;
  outline: none !important;
}

.updatePhoto__image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 400px;
  overflow: hidden;
}

.image__thumbnailOverlay, .image__dragDropContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 400px;
  overflow: hidden;
}

.image__thumbnailOutline {
  width: 300px;
  height: 300px;
  opacity: .5;
  box-shadow: 0 0 0 500px #fff;
  border-radius: 50%;
  z-index: 899;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imageContainer img {
  position: fixed;
}

.imageCropped {
  height: 300px;
  width: 300px;
}

.image__dragDropContainer {
  z-index: 900;
}

.dragDrop__object {
  position: fixed;
  height: 300px;
  width: 300px;
  cursor: move;
}

.updatePhoto__zoomSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 100%;
}

.updatePhoto__zoomSlider .MuiSlider-rail {
  height: 4px;
  color: #ced0d4;
  border-radius: 2px;
}

.updatePhoto__zoomSlider .MuiSlider-track {
  height: 4px;
  color: #1876f2;
}

.updatePhoto__zoomSlider .MuiSlider-thumb {
  top: 10px;
  height: 20px;
  width: 20px;
  border: solid 1px #ced0d4;
  color: #fff;
}

.updatePhoto__zoomSlider .MuiSlider-thumb:hover, .updatePhoto__zoomSlider .MuiSlider-thumb:focus {
  box-shadow: none !important;
}

.updatePhoto__zoomSlider > span {
  width: 400px;
  margin: 0 5px;
}

.updatePhoto__zoomSlider > svg {
  padding: 5px;
  cursor: pointer
}

.updatePhoto__zoomSlider > svg.disabled {
  color: #bec3c9;
  cursor: not-allowed;
}

.updatePhoto__zoomSlider > svg.enabled:hover {
  border-radius: 50%;
  background: #dbe6f1;
}

.updatePhoto__options {
  display: flex;
  align-items: center;
  margin: 0 16px 16px 16px;
}

.updatePhoto__options button {
  display: flex;
  align-items: center;
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 551;
  color: #323233;
  cursor: pointer;
}

.updatePhoto__options button:first-child {
  margin-right: 12px;
}

.updatePhoto__visibility {
  display: flex;
  align-items: center;
  margin: 0 16px 0 16px;
  width: 100%;
  font-size: 16px;
  color: #76787c;
}

.updatePhoto__visibility svg, .updatePhoto__options button svg {
  margin-right: 10px;
}

/* Footer > contains navigation buttons to go forward, back, and save image */

.updatePhoto__modal__footer.stepOne {
  display: flex;
  justify-content: space-evenly;
  padding: 16px;
}

.updatePhoto__modal__footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 12px;
  background-color: #e4e6eb;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 551;
  cursor: pointer;
}

.updatePhoto__modal__footer button svg {
  margin-right: 5px;
  font-size: 18px;
}

.updatePhoto__modal__footer button:first-child {
  margin-right: 10px;
  background-color: #e7f3ff;
  color: #247ef3;
}

.updatePhoto__modal__footer.stepOne button:hover, .profilePhoto__modal__closeButton:hover, .updatePhoto__options button:hover {
  background: #d3d5da;
}

.updatePhoto__modal__footer button:first-child:hover {
  background-color: #dbe6f1;
}

.updatePhoto__modal__footer.stepTwo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 16px;
}

.updatePhoto__modal__footer.stepTwo button {
  flex: 0;
  padding: 10px 40px;
  background: #1877f2;
  color: #fff;
}

.updatePhoto__modal__footer.stepTwo button:hover {
  background: #176ddd;
}

.updatePhoto__modal__footer.stepTwo button:first-child {
  background: #fff;
  color: #267ff3;
}

.updatePhoto__modal__footer.stepTwo button:first-child:hover {
  background: #f0f0f0;
}