.header__bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.bio__editButton {
  margin-top: 15px;
}

.bio__editText {
  width: 100%;
  padding: 8px 12px !important;
  background-color: #f0f2f5;
  border: solid 1px #e1e2e4 !important;
  border-radius: 6px;
  font: 500 15px Arial;
  font-weight: bold;
  line-height: 1.34;
  text-align: center !important;
  resize: none;
  box-sizing: border-box;
}

.bio__editText:hover {
  background-color: #e1e2e4;
}

.bio__editText:focus {
  background-color: #fff;
  border: solid 1px #1876f2 !important;
  outline: none !important;
}

.bio__editText:focus:hover {
  background-color: #f0f2f5;
}

.MuiInput-underline:before, .MuiInput-underline:before:hover {
  border: none;
}

.bio__charRemaining {
  width: 100%;
  margin-top: 3px;
  color: #65676b;
  font-size: 13px;
  text-align: right;
}

.bio__editFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 16px;
  width: 100%;
}

.bio__editFooter span {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1;
}

.bio__editFooter span .icon__privacy {
  margin-right: 5px;
}

.bio__editFooter button {
  margin-left: 5px;
  padding: 10px 12px;
  background-color: #e4e6eb;
  font-size: 13px;
  font-weight: 600;
  text-transform: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bio__editFooter button.cancel:hover {
  background-color: #cbcdd3;
}

.bio__editFooter button.submit:enabled {
  background-color: #1876f2;
  color: #fff;
}

.bio__editFooter button.submit:enabled:hover {
  background-color: #156de0;
}