.header__coverPhoto {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  max-height: 350px;
  width: 100%;
  max-width: 940px;
  background: rgb(127,129,130);
  background: linear-gradient(0deg, rgba(127,129,130,1) 0%, rgba(240,242,245,1) 28%, rgba(240,242,245,1) 100%);
  border-radius: 0 0 8px 8px;
  aspect-ratio: 8/3;
}

.header__coverPhoto button {
  margin: 16px 28px;
  width: auto;
  display: flex;
  align-items: center;
  padding: 5px 12px;
  background-color: white;
  border: none;
  border-radius: 6px;
  font-size: 13.5px;
  font-weight: 550;
  text-transform: none;
  cursor: pointer;
  z-index: 55;
}

.header__coverPhoto button svg {
  margin-right: 5px;
}

.header__coverPhoto button:hover {
  background-color: #e1e2e4;
}


