.header__profilePhoto {
  position: absolute;
  top: calc(350px - 160px);
  display: flex;
  justify-content: center;
  width: 100%;
}

.profilePhoto__image {
  height: 168px !important;
  width: 168px !important;
  border: solid 4px white;
  cursor: pointer;
}

.profilePhoto__updateBadge {
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.profilePhoto__image:hover, .profilePhoto__updateBadge:hover {
  filter: brightness(90%);
}

.profilePhoto__menu {
  margin-top: 80px;
  padding: 10px;
  width: 344px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px;
  border-radius: 12px;
  font-weight: 551;
  color: #434242;
  cursor: auto;
}

.profilePhoto__menu ul {
  padding: 0;

}

.profilePhoto__menu li {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  list-style-type: none;
  cursor: pointer;
}

.profilePhoto__menu li:hover {
  background: #e4e6eb;
}

.profilePhoto__menu li svg {
  margin-right: 10px;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 500;
  overflow-y: scroll;
  cursor: pointer;
}

.profilePhoto__viewPicture {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 500;
  overflow-y: scroll;
}

.viewPicture__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  height: 100%;
  background: #000;
}

.viewPicture__leftHeader {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 16px;
  color: #fff;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;   
}

.viewPicture__leftHeader svg {
  font-size: 28px;
  cursor: pointer;
}

.viewPicture__leftBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.viewPicture__leftBody img {
  max-width: 100%;
}

.viewPicture__right{
  width: 360px;
  height: 100%;
  background: #fff;
}

.viewPicture__rightHeader {
  height: 60px;
  border-bottom: solid 1px #ced0d4;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;  
}