@media (max-width: 940px), 
(max-width: 1070px) and (min-Height: 700px),  
(max-width: 1250px) and (min-Height: 790px){
  .profile_wrapper {
    padding: 0 15px !important;
    box-sizing: border-box !important;
  }
}

@media (max-width: 900px){
  .header__name_container {
    justify-content: center;
    padding-left: 0 !important;
    padding-top: 70px;
    padding-bottom: 10px;
    box-sizing: content-box !important;
    height: auto !important;
  }
}

@media (max-width: 500px) {
  .profile_wrapper {
    padding: 0 !important;
  }
}


@media (min-Height: 700px) {
  .profile_wrapper {
    max-width: 1031px !important;
  }
  .header__coverPhoto {
    max-height: 400px !important;
    max-width: 1095px !important;
  }
  /* .profile_body_right_col {
    max-width: 590px !important;
  } */
}

@media (min-Height: 790px) {
  .profile_wrapper {
    max-width: 1186px !important;
  }
  .header__coverPhoto {
    max-height: 462px !important;
    max-width: 1250px !important;
  }
  /* .profile_body_right_col {
    max-width: 680px !important;
  } */
}

.profile {
  position: inline-block;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_wrapper {
  max-width: 876px;
  width: 100%;
}

.profile__header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: white;
}

.header__name_container {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: 100px;
  padding-left: 175px;
  box-sizing: border-box;
}

.header__name {
  padding: 16px 12px 0 12px;
}