.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(244, 244, 244, 0.8);
  z-index: 999;
}

.modal > * {
  position: relative;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: var(--main-box-shadow);
}

.close_button {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 8px;
  border-radius: 100%;
  background-color: #e4e6eb;
  box-sizing: border-box;
  cursor: pointer;
}

.close_button:hover {
  background-color: #d2d4d9;
}