@media (max-width: 700px){
  .header__center__option {
    display: none !important;
  }
  .header__center__option.more {
    display: flex !important;
  }
}

@media (max-width: 500px) {
  .header {
    padding-left: 15% !important;
  }
}

.header {
  position: sticky;
  display: flex;
  justify-content: center;
  padding: 0 28%;
  height: 56px;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__center__option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-left: 8px;
  width: 100%;
  max-width: 125px;
  cursor: pointer;
  border: solid 2px #fff;
}

.header__center__option:first-child {
  margin: 0;
}

.header__center__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
}

.header__center__option > svg {
  fill: #65676b;
}

.header__center__option:hover > svg {
  fill: #2e81f4;
}

.header__center__option.active > svg {
  fill: #2e81f4;
}

.header__center__option.active {
  background-color: transparent !important;
  border-bottom: 3px solid #2e81f4 !important;
  border-radius: 0 !important;
}