.feed {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 15px;
}

@media (min-Height: 700px) {
  .feed__container {
    max-width: 590px !important;
  }
}

@media (min-Height: 790px) {
  .feed__container {
    max-width: 680px !important;
  }
}

.feed__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  max-width: 500px;
  width: 100%;
}

.feed__noMorePosts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  color: #65676b;
}

.feed__noMorePosts h3 {
  margin-top: 18px;
  font-size: 20px;
}

.feed__noMorePosts button {
  margin: 18px;
  padding: 12px;
  background-color: #1877f2;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 551;
  color: #fff;
  cursor: pointer;
}