@media(min-width: 415px) {
  .profile_card_body.gallery {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media(min-width: 575px) {
  .profile_card_body.gallery {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media(min-width: 745px) {
  .profile_card_body.gallery {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

@media(min-width: 915px) {
  .profile_card_body.gallery {
    grid-template-columns: repeat(5, 1fr) !important;
  }
}

@media(min-width: 1075px) {
  .profile_card_body.gallery {
    grid-template-columns: repeat(6, 1fr) !important;
  }
}

.profile_card_body.gallery {
  display: inline-grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.gallery_item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gallery_item:first-child {
  margin-left: 0;
}

.gallery_item:last-child {
  margin-right: 0;
}

.gallery_img {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  flex: 1;
  background-color: #e4e6eb;
  border: solid 1px #cdcfd3;
  box-sizing: border-box;
  aspect-ratio: 1/1;
}

.gallery_img img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery_dropdown {
  padding: 8px;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #000;
  border-radius: 100%;
  opacity: .4;
  z-index: 50;
}

.gallery_dropdown:hover {
  opacity: .5;
}

.gallery_item:hover  {
  text-decoration: underline;
  cursor: pointer;
}

.gallery_dropdown_icon {
  filter:  brightness(0) invert(1);
}

.gallery_text {
  margin-top: 8px;
  font-size: .9375rem;
  font-weight: 600;
}

